@media(max-width:768px) {
    .sns-group-title {
        display: none
    }

    .sns-link-group {
        margin-top: 60px
    }
}


@media(max-width:576px) {
    .login-title {
        margin-bottom: 110px
    }

    .sns-group-title {
        display: none
    }

    .sns-link-group {
        margin-top: -400px;
        display: block;
        margin-left: -15px;
        margin-right: -15px
    }

    .sns-link {
        height: 30px;
    }
}